body {
  font-family: sans-serif;
  background: lightgray;
  counter-reset: page;
}

h2 {
  break-before: page;
}

@media print {
  body {
    background: white;
  }
}

@page {
  size: 5in 8in;
  margin-top: 0.25in;
  margin-bottom: 0.5in;
}
@page:left {
  margin-left: 0.25in;
  margin-right: 1in;

@bottom-left {
        content: counter(page);
    }

    @bottom-right {
        content: "What is document?";
    }
}

@page:right {
  margin-left: 1in;
  margin-right: 0.25in;

@bottom-left {
    content: "E Roon Kang";
}

@bottom-right {
    content: counter(page);
}
}

img {
    width: 40%;
    padding: 5%;
}

.two-col {
    color: red;
    column-count: 2;
    column-gap: 2em;
}

p:first-child {
    margin: 0;
}